.DataButton-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--button-color-clear);
  color: #fff;
  margin-top: 1px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
}
.DataButton-wrapper:hover {
  background-color: var(--button-hover);
  color: #000;
}
