.FilmsPage-page-container {
  display: flex;
  margin-top: 4vh;
  justify-content: center;
  width: 95vw;
}
.FilmsPage-films-buttons-container {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 60vh;
  overflow: scroll;
  padding-right: 10px;
  font-family: var(--font);
}

.FilmsPage-film-title {
  font-size: calc(10px + 3vmin);
  text-align: left;
}
.FilmsPage-film-details {
  margin-top: 1vh;
  font-size: calc(10px + 2vmin);
}
.FilmsPage-hrline {
  margin-top: 3vh;
  border-color: #000;
}

@media only screen and (min-width: 1024px) {
  .FilmsPage-page-container {
    margin-top: 12vh;
    width: 60vw;
  }
  .FilmsPage-films-buttons-container {
    height: 45vh;
  }
}
