.info-box-container{
    width: 800px;
    height: 500px;
    border: 3px solid rgba(0, 0, 0, 0.146);
    border-radius: 3px;
}

.film-list{
    margin-top: 50px;
    position: absolute;
    left: 20%;
    top: 200px;
    width: 200px;
    height: 500px;
    overflow: auto;
    border: 3px solid rgba(0, 0, 0, 0.146);
    border-radius: 3px;
  }

  .ghibli-detail-container{
      position: absolute;
      width: 800px;
      height: 500px;
      border: 3px solid rgba(0, 0, 0, 0.432);
      border-radius: 4px;
      top: 25%;
      left: 30.3%;
      background-color: rgba(239, 248, 226, 0.87);
      overflow: scroll;
  }