.info-box-container{
    width: 800px;
    height: 500px;
}

.film-list{
    margin-top: 50px;
    position: absolute;
    left: 20%;
    top: 200px;
    width: 200px;
    height: 500px;
    overflow: auto;
    border: 3px solid rgba(0, 0, 0, 0.146);
    border-radius: 3px;
  }

  .ghibli-detail-container{
      position: absolute;
      width: 800px;
      height: 500px;
      border: 3px solid rgba(0, 0, 0, 0.432);
      border-radius: 4px;
      top: 25%;
      left: 30.3%;
      background-color: rgba(239, 248, 226, 0.747);
      overflow: scroll;
      box-shadow: 15px 15px 20px 1px rgba(0,0,0,0.75);
  }

  .opaque{
    background-color: rgba(205, 104, 73, 0.797);
    border: rgb(210, 145, 125);
}