* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: #000;
  color: #fff;
}

.App-body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 10vh;
}

.App-header-links {
  display: flex;
  justify-content: space-between;
  width: 90vw;
}
