.CharacterPage-page-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
  border: 3px solid red;
}
.CharPage-chars-infobox-container {
  display: flex;
}
.CharacterPage-chars-buttons-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 60vh;
  overflow: scroll;
  padding-right: 10px;
  /* margin-top: 5vh; */
}
.CharacterPage-char-name {
  font-size: calc(10px + 3vmin);
  text-align: left;
}
.CharPage-btns-container {
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;

  justify-content: space-around;
}
.CharactersPage-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--button-color);
  background-color: transparent;
  margin: 5px 1vw 5px 0;
}
.CharPage-create-btn {
  width: 25vw;
  border: 1px solid black;
  background-color: burlywood;
}

.CharPage-create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}
