.CharacterPage-page-container {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95vw;
}
.CharPage-chars-infobox-container {
  display: flex;
}
.CharacterPage-chars-buttons-container {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 60vh;
  overflow: scroll;
  padding-right: 10px;
  font-family: var(--font);
}
.CharacterPage-char-name {
  font-size: calc(10px + 3vmin);
  text-align: left;
  font-family: var(--font);
}
.CharPage-btns-container {
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: space-around;
}
.CharactersPage-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid var(--button-color);
  background-color: transparent;
  margin: 5px 1vw 5px 0;
  font-family: var(--font);
}
.CharPage-create-btn {
  width: 25vw;
  border: 1px solid black;
  background-color: var(--button-color-clear);
}

.CharPage-create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
  margin-top: 1vh;
}
.Char-form-label {
  color: #fff;
}
.Char-form-input {
  margin-top: 1vh;
  font-size: calc(10px + 1vmin);
}
.Char-form-submit {
  margin-top: 1vh;
  border-radius: 5px;
  border: none;
  background-color: var(--button-color);
  padding: 5px;
  color: #fff;
  font-size: calc(10px + 1vmin);
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .CharacterPage-page-container {
    margin-top: 7vh;
    width: 60vw;
  }
  .CharacterPage-chars-buttons-container {
    height: 45vh;
  }
  .CharPage-btns-container {
    right: 1vw;
    bottom: 8vh;
  }
  .CharactersPage-btn {
    transition: transform 0.5s;
    cursor: pointer;
  }
  .CharactersPage-btn:hover {
    transform: scale(1.1);
  }
  .Char-form-submit {
    margin-top: 1vh;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    padding: 8px;
    color: #fff;
    font-size: calc(10px + 1vmin);
    transition: background-color 0.2s, color 0.2s;
  }
  .Char-form-submit:hover {
    background-color: var(--button-hover);
    color: #000;
  }
}
